/* クーポンボディ設定
---------------------------------------------------- */
body{
margin:20 0 0 0;
padding:0;
text-align:center;
background:#fff;
}


/* 全体の設定
---------------------------------------------------- */
#outline{
width:500px;
background:#fff;
letter-spacing:2px;
font-size:12px;
line-height:12pt;
}


/* フォントの設定
---------------------------------------------------- */
.text{
font-size:12px;
letter-spacing:2px;
line-height:12pt;
text-align:left;
padding:0 0 0 10;
}


.text-b{
font-size:16px;
letter-spacing:4px;
line-height:14pt;
font-weight:bold;
}


/* 証明写真（20130521リニューアル）
---------------------------------------------------- */
table.idmenu{
background:#544331;
margin-top:15px;
padding:3px 5px 2px 10px;
font-size:14px;
color:#fff;
letter-spacing:0px;
	}

.price{
border:1px dotted #787878;
border-top:none;
padding:5px 5px 5px 10px;
}