

body{
	margin:0px;
	padding:0px;
	font-size:12px;
	color:#000000;
	background:#F7F7F7;
	text-align:center;
}

a:link{
	color:#004fc6;
	text-decoration:underline;
}
a:visited{
	color:#004fc6;
	text-decoration:underline;
}
a:hover{
	color:#0692f9;
	text-decoration:none;
}



/* ボディ設定
---------------------------------------------------- */
#main_body{
	font-size:11px;
	color:#626262;
	letter-spacing:1px;
	width:770px;
	margin:0px auto 0px auto;
	text-align:center;
	border:1px solid #505050;
	background-color:#FFFFFF;
}

#main_body2{
	font-size:12px;
	width:740px;
	margin:8px 8px 5px 8px;
	text-align:left;
	border:1px solid #999999;
	background-color:#FFFFFF;
}

#main_body3{
	background-color:#FFFFFF;
}



/* テキスト設定
---------------------------------------------------- */
.toptext{
	font-size:12px;
	color:#626262;
	letter-spacing:2px;
	line-height:12pt;
}

.text{
	font-size:12px;
	letter-spacing:2px;
	line-height:12pt;
}

.text2{
	font-size:12px;
	letter-spacing:2px;
	line-height:15pt;
}

.text3{
	font-size:16px;
	color:#FFFFFF;
	letter-spacing:4px;
	line-height:14pt;
}

.text4{
	font-size:14px;
	letter-spacing:4px;
	line-height:20pt;
}

.text_small{
	font-size:11px;
	color:#000000;
	letter-spacing:1px;
	line-height:12pt;
}

.text-small2{
font-size:11px;
color:#ff0000;
}

.text_red	{
	font-size:14px;
	color:#FF0000;
	letter-spacing:3px;
	line-height:14pt;
}

.text_info	{
	font-size:12px;
	color:#cc0000;
	letter-spacing:3px;
	line-height:14pt;
font-weight:bold;
}

.text_mizu{
	font-size:14px;
	color:#0080FF;
	letter-spacing:4px;
	line-height:14pt;
}

.text_gray{
	font-size:12px;
	color:#666666;
	letter-spacing:2px;
	line-height:15pt;
}



/* 証明写真
---------------------------------------------------- */
.text-b{
	font-size:14px;
	letter-spacing:4px;
	line-height:14pt;
}






/* 撮影料金
---------------------------------------------------- */
table.ryoukin{
	width:570px;
	border-collapse: collapse;
	font-size:12px;
	color:#282828;
	letter-spacing:2px;
	line-height:12pt;
	table-layout: fixed; 
}

.course{
	width:140px;
	padding:5 0 5 0px;
	border:solid 1px #999;
	text-align:center;
	background:#555;
	marging:0px;
	padding:3px;
	color:#fff;
}

.size{
	width:235px;
	padding:5 0 5 0px;
	border:solid 1px #999;
	text-align:center;
	background:#555;
	color:#fff;
}

.sheets{
	width:95px;
	padding:5 0 5 0px;
	padding:0 8 0 0px;
	border:solid 1px #999;
	text-align:right;
	background:#555;
	color:#fff;
}

.yen{
	width:100px;
	padding:5 8 5 0px;
	border:solid 1px #999;
	text-align:right;
	background:#555;
	color:#fff;
}

/* 撮影料金（セル内）
---------------------------------------------------- */
.r-cell1{
	width:140px;
	padding:5 0 5 8px;
	border:solid 1px #999;
	text-align:left;
	background:#f2f2f2;
	marging:0px;
	padding:3px;
}

.r-cell2{
	width:235px;
	padding:5 0 5 8px;
	border:solid 1px #999;
	text-align:left;
	background:#f2f2f2;
}

.r-cell3{
	width:95px;
	padding:5 8 5 0px;
	border:solid 1px #999;
	text-align:right;
	background:#f2f2f2;
}

.r-cell4{
	width:100px;
	padding:5 8 5 0px;
	border:solid 1px #999;
	text-align:right;
	background:#f2f2f2;
}



/* メイクアップコース　タイトル
---------------------------------------------------- */
table.ryoukin{
	width:650px;
	border-collapse: collapse;
	font-size:12px;
	color:#282828;
	letter-spacing:2px;
	line-height:12pt;
		marging:0 0 0 100px;

}

.naiyou{
	width:400px;
	padding:5 0 5 0px;
	border:solid 1px #999;
	text-align:left;
	background:#555;
	marging:0px;
	padding:3px;
	color:#fff;
}



/* メイクアップコース
---------------------------------------------------- */
.r-cell5{
	width:400px;
	padding:5 0 5 8px;
	border:solid 1px #999;
	text-align:left;
	background:#f2f2f2;
}

.r-cell6{
	width:170px;
	padding:5 8 5 0px;
	border:solid 1px #999;
	text-align:right;
	background:#f2f2f2;
}

/* 手札版写真コース・撮影料　タイトル
---------------------------------------------------- */
table.ryoukin{
	width:570px;
	border-collapse: collapse;
	font-size:12px;
	color:#282828;
	letter-spacing:2px;
	line-height:12pt;
	table-layout: fixed; 
}

.naiyou_tehuda{
	width:285px;
	padding:5 0 5 0px;
	border:solid 1px #999;
	text-align:center;
	background:#555;
	marging:0px;
	padding:3px;
	color:#fff;
}

.yen_tehuda{
	width:285px;
	padding:5 8 5 0px;
	border:solid 1px #999;
	text-align:right;
	background:#555;
	color:#fff;
}

/* 手札版写真コース・撮影料
---------------------------------------------------- */
.r-cell7{
	width:285px;
	padding:5 0 5 8px;
	border:solid 1px #999;
	text-align:left;
	background:#f2f2f2;
}

.r-cell8{
	width:285px;
	padding:5 8 5 0px;
	border:solid 1px #999;
	text-align:right;
	background:#f2f2f2;
}


table.table_yaki{
	border-collapse: collapse;
	font-size:12px;
	color:#282828;
	letter-spacing:2px;
	line-height:140%;
}

.id_menutitle{
	font-size:14px;
font-weight:bold;
	letter-spacing:2px;
	line-height:140%;
	padding:8px 8px 6px 14px;
color:#ffffff;
}

.r-cellid{
	font-size:12px;
	letter-spacing:2px;
	line-height:140%;
	padding:8px 8px 10px 10px;
	border:dotted 1px #999;
border-top:none;
	background:#ffffff;
}



.id_price{
font-weight:bold;
	font-size:14px;
	letter-spacing:2px;
	line-height:140%;
	margin:8px 8px 8px 2px;
}


.id_pricered{
color:red;
font-weight:bold;
	font-size:18px;
	letter-spacing:2px;
	line-height:140%;
	margin:8px 8px 8px 2px;
}


.r-cellid p{
	padding:3px 0 0 0;
margin:0;
}

.id_yakititle{
	padding:8px 12px 5px 8px;
	border:solid 1px #999;
	background:#ececec;
font-weight:bold;
}


.id_yaki{
	padding:8px 8px 5px 20px;
	border:solid 1px #999;
	background:#ffffff;
}

/* プリント・オプション　タイトル
---------------------------------------------------- */
table.ryoukin{
	width:570px;
	border-collapse: collapse;
	font-size:12px;
	color:#282828;
	letter-spacing:2px;
	line-height:12pt;
	table-layout: fixed; 
}

.naiyou_tehuda2{
	width:165px;
	padding:5 0 5 0px;
	border:solid 1px #999;
	text-align:center;
	background:#555;
	marging:0px;
	padding:3px;
	color:#fff;
}

.yen_tehuda2{
	width:120px;
	padding:5 8 5 0px;
	border:solid 1px #999;
	text-align:right;
	background:#555;
	color:#fff;
}

/* プリント・オプション
---------------------------------------------------- */
.r-cell9{
	width:165px;
	padding:5 0 5 8px;
	border:solid 1px #999;
	text-align:left;
	background:#f2f2f2;
}

.r-cell10{
	width:120px;
	padding:5 8 5 0px;
	border:solid 1px #999;
	text-align:right;
	background:#f2f2f2;
}


/* 受験用ご家族写真
---------------------------------------------------- */
.jyu{
	width:550px;
	font-size:12px;
	letter-spacing:2px;
	line-height:15pt;
	marging:3px;
	padding:4px;
}


/* 証明写真コース紹介
---------------------------------------------------- */
table.syoumei{
	width:550px;
	border-collapse: collapse;
	font-size:12px;
	color:#282828;
	letter-spacing:2px;
	line-height:12pt;
	table-layout: fixed; 
}

.s-cell{
	width:550px;
	padding:10px;
	border:solid 1px #e2deda;
	text-align:left;
	background:#f9f7f4;
	marging:0px;
	padding:0 3 5 3px;
}



/* 料金設定
---------------------------------------------------- */
.price{
	font-size:14px;
	color:#000000;
}

.price_red{
	font-size:22px;
	font-weight:bold;
	color:#e80253;
}

.price_red2{
	font-size:120%;
	color:#3838de;

}

.price_blue{
	font-size:22px;
	font-weight:bold;
	color:#e80253;
}



/* 成人式男性
---------------------------------------------------- */
.seijindansei{
font-size:16px;
letter-spacing:2px;
padding:5px 0 1px 7px;
margin:0;
font-weight:bold;
color:#000000;
border-left:solid 8px #50afd3;
}

.seijin{
font-size:14px;
letter-spacing:2px;
padding:5px 0 0 0;
margin:0;
color:#000000;
line-height:140%;
}

span.font12{
font-size:12px;
}







