/* クーポンボディ設定
---------------------------------------------------- */
body{
margin:20 0 0 0;
padding:0;
text-align:center;
background:#fff;
}


/* 全体の設定
---------------------------------------------------- */
#outline{
width:500px;
background:#fff;
letter-spacing:2px;
font-size:12px;
line-height:12pt;
text-align:center;
}


/* フォントの設定
---------------------------------------------------- */
.text{
font-size:12px;
letter-spacing:2px;
line-height:12pt;
text-align:left;
padding:0 0 0 10;
}


.text-b{
font-size:16px;
letter-spacing:4px;
line-height:14pt;
font-weight:bold;
}