﻿/* 全体的なもの
---------------------------------------------------- */
 body{
font-size:14px;
letter-spacing:2px;
font-family:"ＭＳ Ｐゴシック", Osaka, Arial, sans-serif;
line-height:200%;
}

#frame{
width:960px;
margin:15px auto 0 auto;
}

#frame_window{
width:1000px;
margin:0 auto 0 auto;
}


/* リンク
---------------------------------------------------- */
a:link{
	color:#2e75a2;
	text-decoration:none;
}


a:hover{
	color:#499bd0;
	text-decoration:underline;
}


a:visited{
	color:#2e75a2;
	text-decoration:none;
}





/* ヘッダー
---------------------------------------------------- */

header{
margin:0 0 5px 0;
}

header.gallery2{
margin:0 0 10px 0;
}

header h1{
font-size:12px;
letter-spacing:1px;
font-weight:normal;
padding:0 0 10px 0;
text-align:right;
}

#logo{
float:left;
}

#h_right{
float:right;
}

nav{
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

.nav_right{
float:right;
margin:0 0 0 5px;
}


/* ヘッダー内のボタン設定
---------------------------------------------------- */

div.effe {
position: relative;
width:158px;
height:44px;
background-color:#999999;
float:left;
	}

img.sample01 {
	position: absolute;
	z-index: 10;
	}

img.sample01a {
	position: absolute;
	}



/* スライドショー
---------------------------------------------------- */

#slideshow {
    position:relative;
    height:410px;
margin:0 0 10px 0;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}

#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}

#slideshow IMG.last-active {
    z-index:9;
}





   /* 撮影メニュー（トップページ）
---------------------------------------------------- */
#left_box{
float:left;
width:235px;
}

#menu_top
{
margin:0 0 15px 0;
}

#menu_top ul
{
width:960px;
list-style-type: none;
float:left;
}

#menu_top li
{
float:left;
}



   /*キャンペーン情報（トップページ）
---------------------------------------------------- */

#campaign
{
width:960px;
margin:0 0 15px 0;
}

.c_box1
{
width:310px;
float:left;
margin:0 15px 0 0;
padding:0;
}

.c_box2
{
width:310px;
float:left;
margin:0 15px 0 0;
padding:0;
}

.c_box3
{
width:310px;
float:right;
padding:0;
}




   /*データ販売（トップページ）
---------------------------------------------------- */

#data
{
width:960px;
margin:0 0 15px 0;
}

.data_box1
{
width:480px;
float:left;
margin:0 15px 0 0;
padding:0;
}

.data_box2
{
width:450px;
float:left;
margin:0;
padding:0;
}


table.data{
	width:auto;
margin:15px 0 15px 0;
border-collapse: collapse;
}

table.data2{
	width:auto;
margin:15px 0 15px 0;
border-collapse: collapse;
}

.hidari{
	float:left;
}


th.data1{
padding:10px 20px 9px 15px;
	caption-side:top;
	vertical-align:middle;
		text-align:left;
	font-weight:bold;
	background-color:#e9e9e9;
	border:1px solid #a3a3a3;
}

td.data1{
		width:auto;
padding:10px 20px 9px 15px;
	caption-side:top;
	vertical-align:middle;
		text-align:left;
	font-weight:bold;
	background-color:#e9e9e9;
	border:1px solid #a3a3a3;
}



td.price{
padding:10px 20px 9px 15px;
	caption-side:top;
	vertical-align:top;
	border:1px solid #a3a3a3;
	text-align:right;
}

td.id3{
padding:10px 20px 9px 15px;
	caption-side:top;
	vertical-align:middle;
	border:1px solid #a3a3a3;
	text-align:center;
}





/* 左側の設定
---------------------------------------------------- */
#left_box{
float:left;
width:310px;
}


	
.calender_box{
	width:302px;
	text-align:center;
	border:#786c67 solid 4px;
	padding:10px 0 1px 0;
	margin:-10px 0 0 0;
	}



p.request_form{
margin:0 0 5px 0;
}




/* 右側の設定
---------------------------------------------------- */
#right_box{
float:right;
width:600px;
}

.box{
background-color:#ffffff;
}

.box_l{
width:260px;
float:left;
margin:0 15px 0 0;
}

.box_r{
width:425px;
float:right;
}

.box p{
margin:0 0 15px 0;
}




.box_pic05{
width:340px;
float:left;
margin:0 15px 0 0;
}

.box_pic06{
width:340px;
float:left;
margin:0;
}



.box_main{
width: auto;
border:solid 1px #ccc;
border-top:none;
padding:0 0 0 0;
margin:0 0 30px 0;
}

.box_main p{
padding:10px 10px 15px 15px;
}

.box_main_pic{
padding:10px 10px 15px 15px;
display: inline-block;        /* インラインブロック要素にする */
   vertical-align:  middle;
}

.main_right{
padding:10px 0 0 0;
    display: inline-block;        /* インラインブロック要素にする */
    vertical-align:  middle;
}



/* 成人の設定
---------------------------------------------------- */

h3.seijin_w{
font-size:14px;
width: auto;
padding:10px 0 9px 15px;
background-color:#d5728f;
color:#fff;
}

h3.seijin_m{
font-size:14px;
width: auto;
padding:10px 0 9px 15px;
background-color:#4294be;
color:#fff;
}


/* ウエディングの設定
---------------------------------------------------- */

h3.wedding_y{
font-size:14px;
width: auto;
padding:10px 0 9px 15px;
background-color:#e393a2;
color:#fff;
}

h3.wedding_w{
font-size:14px;
width: auto;
padding:10px 0 9px 15px;
background-color:#b84567;
color:#fff;
}

h3.wedding_yw{
font-size:14px;
width: auto;
padding:10px 0 9px 15px;
background-color:#c6a317;
color:#fff;
}



/* 卒業袴の設定
---------------------------------------------------- */

h3.sotsugyou{
font-size:14px;
width: auto;
padding:10px 0 9px 15px;
background-color:#75b260;
color:#fff;
}


/* お宮参りの設定
---------------------------------------------------- */

h3.omiya{
font-size:14px;
width: auto;
padding:10px 0 9px 15px;
background-color:#bb5965;
color:#fff;
}


/* 初節句の設定
---------------------------------------------------- */

h3.sekku{
font-size:14px;
width: auto;
padding:10px 0 9px 15px;
background-color:#598e45;
color:#fff;
}


/* 入園入学の設定
---------------------------------------------------- */

h3.nyuugaku{
font-size:14px;
width: auto;
padding:10px 0 9px 15px;
background-color:#c16f94;
color:#fff;
}



/* マタニティーの設定
---------------------------------------------------- */

h3.maternity{
font-size:14px;
width: auto;
padding:10px 0 9px 15px;
background-color:#d88fa5;
color:#fff;
}




/* 家族写真の設定
---------------------------------------------------- */

h3.family{
font-size:14px;
width: auto;
padding:10px 0 9px 15px;
background-color:#d8972c;
color:#fff;
}



/* シルバーフォトの設定
---------------------------------------------------- */

h3.silver{
font-size:14px;
width: auto;
padding:10px 0 9px 15px;
background-color:#567357;
color:#fff;
}



/* お受験の設定
---------------------------------------------------- */

h3.juken{
font-size:14px;
width: auto;
padding:10px 0 9px 15px;
background-color:#dd9b1c;
color:#fff;
}





/* 証明写真の設定
---------------------------------------------------- */

h3.id01{
font-size:14px;
width: auto;
padding:10px 0 9px 15px;
background-color:#513522;
color:#fff;
}

h3.id02{
font-size:14px;
width: auto;
padding:10px 0 9px 15px;
background-color:#3274a5;
color:#fff;
}

h3.id03{
font-size:14px;
width: auto;
padding:10px 0 9px 15px;
background-color:#d06c80;
color:#fff;
}


h3.id04{
font-size:14px;
width: auto;
padding:10px 0 9px 15px;
background-color:#69aec6;
color:#fff;
}

h3.id05{
font-size:14px;
width: auto;
padding:10px 0 9px 15px;
background-color:#d9721d;
color:#fff;
}

h4 {
  position: relative;
  padding-left: 25px;
}

h4:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px rgb(119, 195, 223);
}
h4:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px rgb(119, 195, 223);
}



/* 証明写真のテーブル
---------------------------------------------------- */
table.id_date{
margin:15px 0 15px 15px;

border-collapse: collapse;
}

td.id{
padding:10px 20px 9px 15px;
	caption-side:top;
	vertical-align:middle;
	font-weight:bold;
	background-color:#e9e9e9;
	border:1px solid #a3a3a3;

	
}

td.id2{
padding:10px 20px 9px 15px;
	caption-side:top;
	vertical-align:top;
	border:1px solid #a3a3a3;
	text-align:right;
}

td.id3{
padding:10px 20px 9px 15px;
	caption-side:top;
	vertical-align:middle;
	border:1px solid #a3a3a3;
	text-align:center;
}

.id_box{
    width: 400px; 
 padding: 0.5em 1em;
    background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
	text-align:right;
    
    margin: 0 0 0 auto;
    margin-right:10px;
}

.id_box p {
    margin: 0; 
    padding: 0;
}


/* クーポンの設定
---------------------------------------------------- */
#frame_coupon{
width:500px;
margin:0 auto 0 auto;
}







/*メールフォームの表
---------------------------------------------------- */
td.title{
padding:6px 5px 3px 10px;
background:#b0dce3;
width:130px;
font-weight:bold;
}

td.bikou{
padding:0 5px 3px 0;
margin:0;
background:#fff;
}

table.mail{
margin:10px 0 10px 0;
border-collapse: collapse;
width:auto;
}

table.mail td{
padding:5px 5px 5px 10px;
	border:none;
	vertical-align:middle;
}


table.mail tr{
border-bottom:20px solid #fff;
}

.bikou_title{
padding:6px 5px 3px 10px;
margin:0 0 10px 0;
background:#b0dce3;
width:700px;
font-weight:bold;
}

.mail_sure{
padding:6px 5px 3px 10px;
margin:30px 0 20px 0;
background:#c6e5a2;
width:700px;
font-weight:bold;
text-align:center;
}

.kojin {
margin:80px 0 0 0;
}

.kojin p {
margin:0 0 20px 0;
}


table.chk{
margin:10px 0 30px 0;
border-collapse: collapse;
width:auto;
}

table.chk td{
padding:10px 20px 9px 10px;
	caption-side:top;
	vertical-align:top;
	border:1px solid #a3a3a3;
}








/* トップページ以外の設定
---------------------------------------------------- */

#left_menu_box{
float:left;
width:180px;
}

#menu{
	width: 180px;
	background-color: #f8f8f8;
	border: 1px solid #a3a3a3;
}

#menu_b{
	width: 168px;
	margin-top: 5px;
	margin-right: 4px;
	margin-bottom: 0;
	margin-left: 6px;
}

#right_contents_box{
	float: right;
	width: 756px;
}


p.left_staff_blog{
margin:15px 0 5px 0;
}


.box_price{
width: auto;
padding:10px 0 0 0;
margin:0 0 30px 0;
border:solid 1px #ccc;
text-align:center;
}

.box_price_umekomi_seijin{
width:734px;
height:290px;
margin:5px 0 20px 0;
psdding:0;
background:url(../images/seijin/price_seijin.png) no-repeat;
border:solid 1px #ccc;
}

.box_price_umekomi_seijin_1906{
width:734px;
height:290px;
margin:5px 0 20px 0;
psdding:0;
background:url(../images/images1906/albumprice-seijin-201906.png) no-repeat;
border:solid 1px #ccc;
}

.box_price_umekomi_753{
width:734px;
height:290px;
margin:5px 0 20px 0;
psdding:0;
background:url(../images/753/price_753.png) no-repeat;
border:solid 1px #ccc;
}

.box_price_umekomi_753_1906{
width:734px;
height:290px;
margin:5px 0 20px 0;
psdding:0;
background:url(../images/images1906/albumprice-753-201906.png) no-repeat;
border:solid 1px #ccc;
}


.title_b {
padding:170px 0 0 420px;
}



/* ギャラリーページ以外の設定
---------------------------------------------------- */

#left_menu_box2{
float:left;
width:180px;
}

#menu2{
	width: 180px;
	background-color: #f8f8f8;
	border: 1px solid #a3a3a3;
	padding-bottom: 5px;
}

.test_g{
		height: 5px;
	}

#menu2 p{
	padding-bottom: 0;
}

#menu_b2 p{
	width: 168px;
	margin-top: 5px;
	margin-right: 4px;
	margin-bottom: 0;
	margin-left: 6px;
}







/* Hの設定
---------------------------------------------------- */
h2{
	font-size:18px;
margin:0 0 10px 0;
}

h3{
margin:20px 0 6px 0;
font-size:18px;
}

h4{
font-size:14px;
margin:0 0 15px 0;
}

h4.lique{
font-size:18px;
margin:30px 0 5px 0;
font-weight:bold;
color:#336699;
}


/* プライバシーポリシーHの設定
---------------------------------------------------- */
#privacyteddy{
	}

h2.privacy{
font-size:18px;
margin:30px 0 5px 0;
font-weight:bold;
background-color:#e9e9e9;
padding:10px 20px 9px 10px;
}

#privacyteddy h3{
margin:20px 0 6px 0;
font-size:18px;
border-bottom:dotted #999 thin;
color:#333;
	width:auto;
	padding:10px 20px 4px 0px;
}

h4{
font-size:14px;
margin:0 0 15px 0;
}





/* テーブル 会社案内
---------------------------------------------------- */
table.info{
width:700px;
margin:10px 0 50px 0;
border-collapse: collapse;
}

table.info td{
padding:10px 20px 9px 10px;
	caption-side:top;
	vertical-align:top;
	border:1px solid #a3a3a3;
}

td.gray{
padding:10px 20px 9px 10px;
	caption-side:top;
	vertical-align:top;
	border:1px solid #a3a3a3;
background-color:#e9e9e9;
}






/* メインの設定
---------------------------------------------------- */

#main{
clear:both;
}

#main p{
padding:0 0 15px 0;
}

img{
border:none;
padding:0;
margin:0;
}

hr{
height: 30px;
border:none;
clear:both;
}













/* フッター
---------------------------------------------------- */
footer{
clear:both;
margin:0 0 60px 0;
}

footer p{
padding:0 0 0 10px;
margin:0 0 20px 0;
line-height:140%;
font-size:12px;
}

footer strong{
padding:0;
margin:0;
line-height:180%;
font-size:14px;
}

footer p.f_menu{
padding:0 0 0 10px;
margin:40px 0 0 0;
font-size:12px;
letter-spacing:1px;
}

small{
margin:40px 0 0 0;
}





/* クリアー
---------------------------------------------------- */
.clear{
clear:both;
}




/* 文字
---------------------------------------------------- */
.center{
text-align:center;
}

.bold{
font-weight:bold;
}

.red_big{
font-weight:bold;
font-size:18px;
color:#C00;
}

.big{
font-weight:bold;
font-size:18px;
}

.red{
font-weight:bold;
color:#C00;
}

.blue{
font-weight:bold;
font-size:18px;
color:#3c5298;
}

.small{
padding:0;
margin:0;
font-size:12px;
}

.c_syousai{
	font-weight:bold;
text-align:right;
margin:5px 0 0 0;
	}

.through{
text-decoration: line-through;
}

.id_right
{
font-weight:bold;
text-align:right;
margin:0;
padding:0;
font-size:18px;
	}
	
	.coupon_b{
margin:15px auto 15px auto;
text-align:center;
font-weight:bold;
font-size:18px;
}


/* ページトップに戻るの設定
---------------------------------------------------- */
p.gototop {
clear:both;
float:right;
font-size:12px;
font-weight:bold;
margin:30px 0 50px 0;
letter-spacing:2px;
}

p.gototop a:link{
	color:#7daf36;
	text-decoration:none;
}

p.gototop a:hover{
text-decoration:underline;
}


#left_menu_box{
float:left;
width:180px;
}

/* 赤字注釈
---------------------------------------------------- */
#kijitsu{
width:500px;
padding:6px;
background-color:#f34747;
color:white;
border:1px solid #f34747;
margin:20px auto;
font-size:1.2em;
text-align:center;
font-weight:bold;
}

#kijitsu02{
width:400px;
padding:0.8em;
color:#f34747;
border:1px solid #f34747;
margin:20px auto;
font-size:1em;
text-align:center;
font-weight:bold;
}

/*小勝追加
---------------------------------------------------- */
#blue_box{
    border : solid 2px #36b8bd ; 
    
}
#blue_box_text
{
    
    margin-top: : -1em ;    
    padding : 1em 1.5em 1em ;
}