@charset "UTF-8";

/* reset styles */

html, body, div, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, address,
ul, ol, li, dl, dt, dd,
table, th, td,
form, fieldset {
	margin: 0;
	padding: 0;
	}


/* new HTML5 elements */
section, nav, article, aside, hgroup,
header, footer, figure, figcaption,
summary {
	display: block;
	margin: 0;
	padding: 0;
}

